//블록체인 정보
.chain-a4 {
  padding-top: 52px;
  font-size: 13px;
  font-weight: 500;
  h2 {
    @extend %underline;
    margin-bottom: 18px;
  }
  .generate-a4 {
    width: 90px;
    height: 24px;
    border: 1px solid $color-vote-table;
    color: #4d4d4d;
    border-radius: 100px;
    &:hover {
      background-color: $color-lightgray;
    }
  }
  .address-a4 {
    color: #30b9d3;
    font-size: 12px;
    padding-left: 19px;
    font-weight: 600;
  }
}
//비밀번호
.password-a4 {
  font-size: 14px;
  padding-left: 166px;
  padding-top: 28px;
  h3 {
    color: #323b45;
    padding-bottom: 9px;
    font-weight: 500;
  }
  input {
    width: 300px;
    height: 40px;
    border-radius: 8px;
    border: 0;
    background-color: rgba(168, 182, 200, 0.15);
    padding: 0 12px;
  }
  .cancel-a4 {
    border: 1px solid $color-vote-table;
    width: 78px;
    height: 32px;
    color: #4d4d4d;
    border-radius: 2px;
    margin-left: 9px;
    margin-right: 5px;
    &:hover {
      background-color: $color-lightgray;
    }
  }
  .accept-a4 {
    border: 1px solid #30b9d3;
    background-color: #30b9d3;
    width: 78px;
    height: 32px;
    color: white;
    border-radius: 2px;
    &:hover {
      background-color: #11adca;
    }
  }
  p {
    color: #ee6262;
    padding-top: 10px;
    font-weight: 600;
    font-size: 12px;
  }
}
