.basic-c3 {
  padding-top: 64px;
  font-size: 13px;
  font-weight: 500;
  h2 {
    line-height: 30px;
    border-bottom: 1px solid $color-lightgray;
    padding-bottom: 13px;
    margin-bottom: 21px;
    font-size: 16px;
  }
  p {
    padding-bottom: 1px;
  }
  .basic-up-c3 {
    padding-bottom: 12px;
  }
  .basic-up2-c3 {
    padding-bottom: 5px;
  }
  .basic-in-c3 {
    padding-right: 10px;
    border-right: 1px solid $color-lightgray;
    margin-right: 10px;
    font-weight: 500;
    input {
      widows: 200px;
      height: 32px;
      padding: 0 10px;
      margin-left: 19px;
      border: 1px solid $color-vote-table;
    }
  }
  .basic-code1-c3 {
    input {
      width: 400px;
      height: 32px;
      padding: 0 10px;
      border: 1px solid $color-vote-table;
      margin-left: 8px;
    }
  }
  .basic-code2-c3 {
    display: inline-block;
    width: 78px;
    height: 32px;
    border: 1px solid $color-vote-table;
    margin-left: 11px;
    vertical-align: middle;
    line-height: 32px;
    padding: 0 12px;
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background-image: url("../images/btn-dropdown-arrow-normal.svg");
      position: absolute;
      top: 2px;
      right: 0;
    }
  }
  .basic-code3-c3 {
    input {
      width: 200px;
      height: 32px;
      border: 1px solid $color-vote-table;
      padding: 0 10px;
      margin-left: 9px;
    }
  }
  .basic-order-c3 {
    display: flex;
    align-items: center;
  }
}
.explain-c3 {
  padding-top: 25px;
  line-height: 30px;
  h2 {
    line-height: 30px;
    padding-bottom: 11px;
  }
  textarea {
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 140px;
    border-radius: 2px;
    border: solid 1px #c6cbd4;
    line-height: 30px;
  }
}
.extra-c3 {
  padding-top: 34.9px;
  line-height: 30px;
  h2 {
    line-height: 30px;
    padding-bottom: 11px;
  }
  textarea {
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 140px;
    border-radius: 2px;
    border: solid 1px #c6cbd4;
    line-height: 30px;
  }
}
.search-c2 {
  font-size: 13px;
  font-weight: 500;
  .search-in-c2 {
    padding-left: 19px;
    border-left: 1px solid $color-lightgray;
    margin-left: 19px;
  }
  .search-text-c2 {
    padding-right: 19px;
  }
}
.radio-c2 {
  @extend %radio;
  padding-top: 43.9px;
}
.line-c2 {
  padding: 13px 0;
}
.bottom-table-c2 {
  padding-top: 68px;
  font-size: 13px;
  h2 {
    padding-bottom: 13px;
    border-bottom: 1px solid $color-lightgray;
    margin-bottom: 20px;
    font-size: 16px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    color: #575757;
  }
  tr {
    height: 48px;
    border-bottom: 1px solid rgba(198, 203, 212, 0.3);
  }
  th,
  td {
    vertical-align: middle;
  }
  th {
    background-color: $color-lightgray;
  }
  th:first-child,
  td:first-child {
    padding-left: 31px;
    width: 5.4%;
  }
  th:nth-child(2),
  td:nth-child(2) {
    padding-left: 9px;
    width: 11.8%;
  }
  th:nth-child(3),
  td:nth-child(3) {
    padding-left: 9px;
    width: 17.6%;
  }
  td:nth-child(3) {
    text-decoration: underline;
  }
  th:nth-child(4),
  td:nth-child(4) {
    padding-left: 9px;
    width: 25.9%;
  }
  th:nth-child(5),
  td:nth-child(5) {
    padding-left: 9px;
    width: 9.5%;
  }
  th:nth-child(6),
  td:nth-child(6) {
    padding-left: 9px;
    width: 9.5%;
  }
  th:nth-child(7),
  td:nth-child(7) {
    padding-left: 9px;
    width: 9.5%;
  }
}
