@charset "utf-8";
* {
  box-sizing: border-box;
  button,
  input {
    outline: none;
  }
}

.btn6 {
  position: absolute;
  top: 27px;
  left: 0;
  .back6 {
    width: 32px;
    height: 32px;
    img {
      width: 100%;
    }
  }
}
.content6 {
  .title6 {
    padding-left: 55px;
    border-bottom: 1px solid $color-lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-btn6 {
    width: 90px;
    height: 32px;
    background-color: $color-lightgray;
    font-size: 14px;
    line-height: 24px;
  }
  .title-in6 {
    margin: 24.5px 0 24.5px 0px;
    width: 700px;
    height: 40px;
    font-size: 16px;
    border: 1px solid $color-6-border;
    display: flex;
    align-items: center;
  }
}

.information6 {
  border-top: 1px solid #f2f3f7;
  border-bottom: 1px solid #f2f3f7;
  padding: 19.5px 0 19.5px 25px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  span {
    display: flex;
    flex-grow: 1;
    color: #3b5675;
    font-size: 13px;
    border-right: 1px solid $color-lightgray;
    padding-left: 27px;
    align-items: center;
  }
  .small-btn6 {
    border-radius: 100px;
    display: inline-block;
    border: 1px solid #c6cbd4;
    line-height: 24px;
    padding: 0 14px;
    margin-left: 5px;
  }
}
.app6 {
  box-sizing: border-box;
  padding-left: 55px;
}
.app-tit6 {
  font-weight: 500;
  padding-top: 33.5px;
  padding-left: 10px;
  line-height: 30px;
}
.app-in6 {
  font-weight: 300;
  line-height: 30px;
  padding: 11.1px 0 29.9px 0;
  border: 1px solid $color-6-border;
}

.entire6 {
  width: calc(100%-55px);
  padding-top: 9px;
  padding-left: 55px;
}
.entire2-6 {
  width: calc(100%-55px);
  padding-top: 7px;
  padding-left: 55px;
}
.info6 {
  .info-name6 {
    padding: 20px 0;
    font-size: 13px;
  }
  input {
    width: 320px;
    height: 39px;
    padding: 0 10px;
  }
  .info-in6 {
    display: flex;
    align-items: center;
    font-size: 13px;
    span {
      display: inline-block;
      width: 24px;
      height: 24px;
    }
    img {
      width: 100%;
    }
  }
  .small-btn6 {
    border: 1px solid $color-6-border;
    border-radius: 100px;
    width: 70px;
    height: 24px;
    margin-left: 20px;
  }
}
