@charset "utf-8";
* {
  box-sizing: border-box;
  button,
  input {
    outline: none;
  }
}

.btn8 {
  position: absolute;
  top: 35px;
  left: 0;
  .back8 {
    width: 32px;
    height: 32px;
    img {
      width: 100%;
    }
  }
}
.content8 {
  .dapp-name8 {
    line-height: 30px;
    padding-left: 55px;
  }
  .title-wrong8 {
    border-bottom: 1px solid $color-lightgray;
    padding-bottom: 14.5px;
  }
  .title8 {
    padding-left: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title-btn8 {
    width: 90px;
    height: 32px;
    background-color: $color-lightgray;
    font-size: 14px;
    line-height: 24px;
  }
  .title-in8 {
    width: 700px;
    height: 40px;
    font-size: 16px;
    border: 1px solid $color-6-border;
    display: flex;
    align-items: center;
  }
}

.app8 {
  box-sizing: border-box;
  padding-left: 55px;
}
.app-tit8 {
  font-weight: 500;
  padding-top: 33.5px;
  padding-left: 10px;
  line-height: 30px;
}
.app-in8 {
  font-weight: 300;
  line-height: 30px;
  padding: 11.1px 0 29.9px 0;
  height: 260px;
  border: 1px solid $color-6-border;
}

.entire8 {
  width: calc(100%-55px);
  padding-top: 9px;
  padding-left: 55px;
}
.entire2-8 {
  width: calc(100%-55px);
  padding-top: 7px;
  padding-left: 55px;
}
.info8 {
  .info-name8 {
    padding: 20px 0;
    font-size: 13px;
  }
  input {
    width: 320px;
    height: 39px;
    padding: 0 10px;
  }
  .info-in8 {
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      width: 24px;
      height: 24px;
    }
    img {
      width: 100%;
    }
  }
  .small-btn8 {
    border: 1px solid $color-6-border;
    border-radius: 100px;
    width: 70px;
    height: 24px;
    margin-left: 10px;
  }
}
.history8 {
  width: calc(100%-55px);
  padding-left: 55px;
}
.history-title8 {
  line-height: 30px;
  padding: 70px 0 15px 10px;
}
.history-table8 {
  width: 100%;
  border-collapse: collapse;
  tr,
  td,
  th {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    letter-spacing: -0.5px;
  }
  th:first-child {
    width: 100px;
  }
  th:nth-child(2) {
    width: 180px;
  }
  th:last-child {
  }
  th {
    background-color: $color-lightgray;
    font-weight: 500;
    color: $color-table;
  }
}
