html,
body {
  height: 100%;
}
.header {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 14px;
  color: #333;
  a:first-child {
    border-right: 1px solid #d8d8d8;
    padding-right: 17px;
    margin-right: 17px;
  }
}
.login-height {
  height: 100%;
  width: 100%;
  background-color: $color-lightgray;
  display: table;
  .login-center {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .logo-center {
    width: 100%;
    text-align: center;
  }
}
.logo {
  margin-top: 50px;
  display: inline-block;
  width: 145px;
  height: 210px;
  img {
    width: 100%;
  }
}
.login-form {
  text-align: center;
  margin-top: 40px;
  .login-in {
    display: inline-block;
    width: 360px;
  }
  select {
    width: 360px;
    height: 49.1px;
    border-radius: 8px;
    background-color: rgba(168, 182, 200, 0.15);
  }
  .up-text {
    text-align: left;
    padding: 20px 0 15px 0;
    letter-spacing: -0.6px;
    font-weight: 500;
    color: #323b45;
  }
  .typing {
    width: 360px;
    height: 49.1px;
    border-radius: 8px;
    background-color: rgba(168, 182, 200, 0.15);
    padding: 0 10px;
    border: 0;
    font-size: 16px;
  }
  .typing::placeholder {
    color: $color-placeholder;
  }
  .typing2 {
    display: flex;
    align-items: center;
    width: 360px;
    height: 49.1px;
    border-radius: 8px;
    background-color: rgba(168, 182, 200, 0.15);
    padding: 0 10px;
    border: 0;
    font-size: 16px;
    color: $color-placeholder;
    .type-click {
      display: inline-block;
      margin-left: 190px;
    }
  }
  .press-btn button {
    width: 360px;
    height: 50px;
    border-radius: 2px;
    background-color: #30b9d3;
    color: white;
    margin-top: 29.9px;
    font-size: 16px;
  }
  .bottom-text {
    padding-top: 60px;
    font-size: 14px;
    color: $color-login-bottom;
    margin-bottom: 50px;
  }
}
//제이쿼리
.school {
  position: relative;
  display: none;
}
.school-select {
  width: 360px;
  height: 120px;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.16);
  line-height: 31px;
  color: #333;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  .school-name {
    width: 360px;
    height: 30px;
  }
  .school-name:nth-child(2) {
    background-color: #f2f4f7;
  }
}
