.back-s2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  .detail-s2 {
    width: 840px;
    background-color: #fff;
  }
}
.box-s2 {
  background-color: $color-lightgray;
  position: relative;
  .title-s2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    border-bottom: 1px solid #e3e7ec;
  }
}
.info-table-s2 {
  padding: 40px 30px 50px 30px;

  h3 {
    padding-bottom: 14px;
  }
  table,
  tbody,
  tr {
    width: 100%;
    text-align: left;
  }
  table {
    border-collapse: collapse;
    border-bottom: 1px solid rgba(198, 203, 212, 0.3);
    color: #575757;
    th {
      background-color: $color-lightgray;
      height: 48px;
      vertical-align: middle;
      font-size: 13px;
    }
    th:first-child {
      padding-left: 30px;
    }
    td {
      height: 48px;
      vertical-align: middle;
      font-size: 13px;
    }
    td:first-child {
      padding-left: 30px;
    }
  }
}
.tb-s2 {
  margin-bottom: 19px;
}
.app-s2 {
  padding: 0 30px 35px 30px;
  background-color: #fff;
  h3 {
    padding: 15px 0;
  }
  p {
    line-height: 30px;
  }
}
