@charset "utf-8";
* {
  box-sizing: border-box;
  button {
    outline: none;
  }
}

.all-rel {
  position: relative;
}
.btn-v3 {
  padding-top: 12px;
  float: left;
  .back-v3 {
    width: 32px;
    height: 32px;
    img {
      width: 100%;
    }
  }
}
.content-v3 {
  .title-v3 {
    display: flex;
    align-items: center;
  }
  .title-btn-v3 {
    width: 84px;
    height: 24px;
    border-radius: 100px;
    background-color: $color-lightgray;
    font-size: 12px;
    line-height: 24px;
    color: $color-end;
    margin: 0 20px 0 10px;
  }
  .title-in-v3 {
    padding: 19.5px 0 21px 25px;
    font-size: 16px;
  }
  .title-sub-v3 {
    font-size: 12px;
  }
}

.information-v3 {
  border-top: 1px solid #f2f3f7;
  padding: 19.5px 0 19.5px 25px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 41px;
  span {
    display: flex;
    color: #3b5675;
    font-size: 13px;
    border-right: 1px solid $color-lightgray;
    padding: 0 14px;
    align-items: center;
    &:last-child {
      border: 0;
    }
  }
  .small-btn-v3 {
    border-radius: 100px;
    display: inline-block;
    border: 1px solid #c6cbd4;
    height: 24px;
    width: 70px;
    padding: 0 14px;
    margin-left: 5px;
    &:hover {
      background-color: $color-lightgray;
    }
  }
}
.information2-v3 {
  border-bottom: 1px solid #f2f3f7;
  padding-left: 55px;
  padding-bottom: 19.5px;
  span {
    color: #3b5675;
    font-size: 13px;
  }
  label {
    font-size: 13px;
    padding: 0 19px 0 0;
  }
  .radio {
    margin-left: 10px;
  }
  .radio input[type="radio"] {
    display: none; /* 실제 라디오버튼 없애기 */
  }
  .radio input[type="radio"] + label::before {
    /* 가짜 라디오버튼 만들기 */
    content: " ";
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: middle;
    margin: -5px 7px 0 0;
    background: url("../images/btn-radio-selected2.svg");
  }
  .radio input[type="radio"]:checked + label::before {
    /* 가짜 라디오버튼 체크했을 때 */
    background: url("../images/btn-radio-selected.svg");
    background-position: 20px 0;
  }
}
.vote-v3 {
  box-sizing: border-box;
  padding: 0 30px 0 55px;
}
.vote-tit-v3 {
  font-weight: 500;
  padding-top: 45.5px;
  padding-bottom: 22px;
  line-height: 30px;
}
.vote-table-v3 {
  tr {
    border-bottom: 1px solid $color-vote-table;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    font-size: 13px;
  }
  td {
    display: flex;
    flex-grow: 1;
  }
  td:nth-child(2) {
    flex-grow: 4;
  }
  .small-btn2-v3 {
    border-radius: 100px;
    display: inline-block;
    border: 1px solid $color-vote-table;
    line-height: 21px;
    font-size: 12px;
    width: 90px;
    height: 24px;
    &:hover {
      background-color: $color-lightgray;
    }
  }
}
.library-v3 {
  background-color: $color-lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
.add-image-v3 {
  padding: 40px 0 13px 55px;
  line-height: 30px;
  font-weight: 500;
  .fake-image-v3 {
    width: 200px;
    height: 117px;
    background-color: $color-vote-table;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
