@charset "utf-8";
$color-blue: #3b5675;
$color-lightgray: #f2f3f7;
$color-6-border: #c6cbd4;
$color-greenblue: #11adca;
$color-table: #575757;
$color-end: #98a6b6;
$color-vote-table: #c6cbd4;
$color-login-bottom: #17365b;
$color-placeholder: #8592a2;
